@charset "UTF-8";

@import url(../css/font.css);
@import url(../css/reset.css);
    

body{background: linear-gradient(to bottom , #FC6076 , #FF9A44)}
#wrap{background: linear-gradient(to bottom , #FC6076 , #FF9A44);}
header{margin: 40px 0;;padding: 0 40px 0 40px;}
header h1{width: 72px;height: 72px;border-radius: 36px;background: #000;margin: 0 auto;overflow: hidden;border: 1px solid #BF5054;}
header h1 img{width: 100%;}
header strong{display: block;font-size: 18px;text-align: center;margin-top: 10px;
color: #fff;}
header em{display: block;font-size: 14px;text-align: center;margin-top: 4px;font-style: normal;color: #fff;word-break: keep-all;
}

.btn_box{margin-bottom: 40px;display: flex;flex-direction: column;align-items: center;}
.btn_box a{gap: 10px;background: #BF5054;box-sizing: border-box;padding: 2.5vw 13.33vw 2.5vw 13.33vw;text-align: center;;border: 1px solid #DA6771; color: #fff;border-radius: 5px;margin-bottom: 16px;font-size: 16px;min-width: 90px;}
.btn_box a:nth-child(5){display: none;}
.map_box{margin-bottom: 40px;padding: 0 40px 100px 40px;text-align: center;}
.map_box h2{font-size: 16px;color: #fff;}
.map_box .map{margin-top: 20px;;}





@media screen and (min-width: 500px){
    header h1{width: 110px;height: 110px;border-radius: 55px;}
    .btn_box{display: flex}
}


@media screen and (min-width: 800px){
    .btn_box{margin-bottom: 40px;display: flex;flex-direction: row;flex-wrap: wrap;
    align-items: center;justify-content: center;gap: 16px;padding: 0 35px}
    .btn_box a{gap: 10px;background: #BF5054;box-sizing: border-box;padding: 2.5vw 13.33vw 2.5vw 13.33vw;text-align: center;;border: 1px solid #DA6771; color: #fff;border-radius: 5px;;font-size: 16px;min-width: 90px;flex-grow: 1;}
    .btn_box a:nth-child(5){display: block;}  
}